<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Listado"></Label>
</ActionBar>
<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>

    <PullToRefresh (refresh)="onPull($event)">
        <ListView
            height="50%"
            class="list-group"
            [items]="this._hotelesService.getHotels()"
        >
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <image src="res://icon" class="thumb img-circle" style="width:20%; ; background-color: cornflowerblue;"></image>
                    <StackLayout orientation="vertical">
                        <label
                            [text]="x.nombre"
                            class="list-group-item-heading"
                            style="width: 60%"
                            verticalAlignment="center"
                            (Tap)="verDetalle($event)"
                        ></label>
                        <label
                            [text]="x.categoria"
                            (Tap)="verDetalle($event)"
                            class="clsCategoria"
                            style="width: 60%"
                        >
                        </label>

                    </StackLayout>
                    <button text="Editar" (tap)="addCategory(x.id)" class="-primary -rounded-sm"></button>
                </FlexboxLayout>
            </ng-template>

        </ListView>
    </PullToRefresh>

</StackLayout>
